
// import bootstrap
@import "vendors/bootstrap/bootstrap";
@import "vendors/bootstrap/bootstrap-grid";

// @import "vendors/bootstrap/bootstrap-reboot";
// @import "vendors/bootstrap/bootstrap-utilities";

// import swiper 
@import "vendors/swiper/swiper";

// cf7
@import "vendors/cf7/cf7";

// Import variables and mixins.
@import "abstracts/abstracts";

/* Normalize*/
@import "generic/normalize";

/* Box sizing */
@import "generic/box-sizing";

/* Base */
@import "base/base";

/* Layouts */
@import "layouts/header";
@import "layouts/home";
@import "layouts/other-pages";
@import "layouts/footer";

/* Components */
@import "components/components";

/* Accessibility */
@import "utilities/accessibility";

/* Alignments  */
@import "utilities/alignments";
