#navbarNavDropdown {
    position: relative;
    top: 30px;
    padding-bottom: 30px;
    @media (min-width: 992px) {
        top: 0px;
        padding-bottom: 0px;
    }
    #primary-menu {
        >.menu-item {
            position: relative;
            &.borders {
                .borders {
                    position: relative !important;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    @media (min-width: 992px) {
                        display: none;
                    }
                    &::after, 
                    &::before {
                        content: '';
                        position: absolute;
                        width: 96.5%;
                        height: 1px;
                        background-color: #FEFEFE;
                        left: 0px;

                    }
                    &::after {
                        bottom: 0px;
                        
                    }
                    &::before {
                        top: 0px;
                    }
                    .borders {
                        @extend .borders;
                    }
                }
            }
            &.last_one {
                >.dropdown-menu {
                    >.menu-item {
                        >.dropdown-menu {
                            
                            @media (min-width: 992px) {
                                left: -160px;
                            }
                            @media (min-width: 1575px) {
                                left: 300px;
                            }
                        }
                    }
                }
            }
            &:last-child {
                &::after {
                    display: none;
                }
            }
            &::after {
                content: "";
                background-color: #fefefe;
                width: 93%;
                height: 1px;
                bottom: 0;
                left: 50%;
                position: absolute;
                transform: translateX(-50%);
            }
            @media (min-width: 992px) {
                &::after {
                    display: none;
                }
            }
            >.nav-link {
                color: $theme__white;
                padding-top: 20px;
                padding-bottom: 20px;
                font-size: 20px;
                padding-left: 20px;
                @media (min-width: 992px) {
                    font-size: 18px;
                    padding-top: 30px;
                    padding-bottom: 30px;
                }
                &.show {
                    background-color: #4e7ad1;
                }
                &::after {
                    display: none;
                    // display: inline-block;
                    // width: 9px;
                    // height: 9px;
                    // border-top: 2px solid #FEFEFE;
                    // border-right: 2px solid #FEFEFE;
                    // position: relative;
                    // bottom: 4px;
                    // left: 5px;
                    // vertical-align: 0;
                    // border-bottom: 0;
                    // border-left: 0;
                    // transform: rotate(135deg);
                }
            }
            &.have_dropdown {

                .nav-link {
                    position: relative;
                    &::after {
                        display: inline-block;
                        width: 9px;
                        height: 9px;
                        border-top: 2px solid #FEFEFE;
                        border-right: 2px solid #FEFEFE;
                        position: relative;
                        bottom: 4px;
                        vertical-align: 0;
                        border-bottom: 0;
                        border-left: 0;
                        transform: rotate(135deg) translateY(-50%);
                        position: absolute;
                        bottom: 50%;
                        right: 25px;
                        @media (min-width: 992px) {
                            position: relative;
                            bottom: 4px;
                            left: 5px;
                            right: initial;
                            transform: rotate(135deg) translateY(0);
                        }
                    } 
                }
            }
            // fist level
            >.dropdown-menu {
                background-color: #4e7ad1;
                border-radius: 0;
                border: 0px;
                top: 100%;
                padding: 0;
                padding-left: 20px;
                display: block;
                max-height: 0;
                transition: all 0.5s cubic-bezier(0, 1, 0, 1);
                overflow: hidden;
                @media (min-width: 992px) {
                    background-color: $theme__white;
                    width: 300px;
                    padding-left: 0px;
                    left: 20px;
                    overflow: initial;
                    opacity: 0;
                    visibility: hidden;
                }
                &.show {
                    max-height: 1000px;
                    transition: all 0.5s ease-in-out;
                    padding-bottom: 20px;
                    @media (min-width: 992px) {
                        opacity: 1;
                        visibility: visible;
                        padding-bottom: 0px;
                    }
                }
                >.menu-item {
                    position: initial;
                    padding-top: 9px;
                    padding-bottom: 9px;
                    padding-left: 55px;
                    font-size: 18px;
                    @media (min-width: 992px) {
                        border-bottom: 1px solid $theme__white_darker;
                        font-size: 16px;
                    }
                    &:last-child {
                        border-bottom: 1px solid transparent;
                    }
                    &:hover {
                        background-color: transparent;
                        @media (min-width: 992px) {
                            background-color: $theme__white_darker;
                        }
                    }
                    >.dropdown-item {
                        color: #FEFEFE;
                        font-weight: 600;
                        padding: 0;
                        position: relative;
                        @media (min-width: 992px) {
                            color: $text_dark_blue;
                        }
                        &:hover {
                            background-color: transparent;
                            @media (min-width: 992px) {
                                background-color: $theme__white_darker;
                            }
                        }
                        &::before {
                            position: absolute;
                            content: '';
                            width: 26px;
                            height: 26px;
                            top: 3px;
                            left: -45px;
                        }
                
                    }
                    // second level
                    >.dropdown-menu {
                        background-color: #4E7AD1;
                        top: 0;
                        border: 0;
                        border-radius: 0;
                        height: 100%;
                        padding: 0;
                        overflow: hidden;
                        display: block;
                        max-height: 0;
                        transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
                        width: 160px;
                        position: relative;
                        @media (min-width: 992px) {
                            position: absolute;
                            background-color: $theme__white_darker;
                            left: 300px;
                        }
                        &.show {
                            max-height: 1000px;
                            transition: max-height 0.5s ease-in-out;

                        }
                        >.menu-item {
                            >.dropdown-item {
                                padding: 5px 0px;
                                color: $theme__white;
                                &::after {
                                    display: none;
                                }
                                @media (min-width: 992px) {
                                    color: $text_dark_blue;
                                    padding: 9px 10px;
                                    border-bottom: 1px solid $theme__white;
                                }
                            }
                        }
                    }
                    &.have_dropdown {
                        .dropdown-item {
                            &::after {
                                content: "";
                                display: inline-block;
                                width: 9px;
                                height: 9px;
                                border-top: 2px solid $theme__white;
                                border-right: 2px solid $theme__white;
                                position: absolute;
                                bottom: 50%;
                                right: 25px;
                                vertical-align: 0;
                                border-bottom: 0;
                                border-left: 0;
                                transform: rotate(135deg) translateY(-50%);
                                @media (min-width: 992px) {
                                    right: 15px;
                                    border-top: 2px solid $text_dark_blue;
                                    border-right: 2px solid $text_dark_blue;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}