.site-header {
	background-color: transparent;
	position: relative;
    width: 100%;
	z-index: 10;
	transition: $transition__transform;
	@media (min-width: 992px) {
		position: fixed;
	}
	.navbar {
		&.is-active {
			padding-bottom: 0px;
		}
		transform: translateY(0%);
		transition: $transition__transform;
		padding-top: 20px;
		padding-bottom: 20px;
		background-color: #5483E0;
		@media (min-width: 768px) {
			padding-top: 1px;
			padding-bottom: 1px;
		}
		@media (min-width: 992px) {
			background-color: transparent;
		}
		.not-padding-mobile {
			padding: 0px;
			.site-branding {
				padding-left: 20px;
				a {
					img {
						width: 165px;
						@media (min-width: 576px) {
							width: 250px;
						}
						
					}
				}
			}
			.navbar-toggler {
				padding-right: 20px;
			}
			// navbarNavDropdown inside navigatopm-submenu.scss
		}

	}
}
.header--row {
	.header--text__holder {
		display: flex;
		align-items: center;
	}
	.header--right__img {
		min-width: 380px;
	}
}