#navbarNavDropdown {
    #primary-menu {
        >.menu-item {
            >.dropdown-menu {
                >.menu-item {
                    // icons
                    &.hypnotherapy {
                        .dropdown-item {
                            &::before {
                                background: url(icon/online-m.svg) no-repeat;
                                @media (min-width: 992px) {
                                    background: url(icon/online.svg) no-repeat;
                                }
                            }
                        }
                    }
                    &.o-anxiety {
                        .dropdown-item {
                            &::before {
                                background: url(icon/brain-m.svg) no-repeat;
                                @media (min-width: 992px) {
                                    background: url(icon/brain.svg) no-repeat;
                                }
                            }
                        }
                    }
                    &.fop-speaking {
                        .dropdown-item {
                            &::before {
                                background: url(icon/community-m.svg) no-repeat;
                                @media (min-width: 992px) {
                                    background: url(icon/community.svg) no-repeat;
                                }
                            }
                        }
                    }
                    &.p-attacks {
                        .dropdown-item {
                            &::before {
                                background: url(icon/full-heart-m.svg) no-repeat;
                                @media (min-width: 992px) {
                                    background: url(icon/full-heart.svg) no-repeat;
                                }
                            }
                        }
                    }
                    &.p-cure {
                        .dropdown-item {
                            &::before {
                                background: url(icon/danger-m.svg) no-repeat;
                                @media (min-width: 992px) {
                                    background: url(icon/danger.svg) no-repeat;
                                }
                            }
                        }
                    }
                    &.s-smoking {
                        .dropdown-item {
                            &::before {
                                background: url(icon/cigarette-m.svg) no-repeat;
                                @media (min-width: 992px) {
                                    background: url(icon/cigarette.svg) no-repeat;
                                }
                            }
                        }
                    }
                    &.insomnia {
                        .dropdown-item {
                            &::before {
                                background: url(icon/noise-m.svg) no-repeat;
                                @media (min-width: 992px) {
                                    background: url(icon/noise.svg) no-repeat;
                                }
                            }
                        }
                    }
                    &.b-confidence {
                        .dropdown-item {
                            &::before {
                                background: url(icon/angry-m.svg) no-repeat;
                                @media (min-width: 992px) {
                                    background: url(icon/angry.svg) no-repeat;
                                }
                            }
                        }
                    }


                    &.faq {
                        .dropdown-item {
                            &::before {
                                background: url(icon/faq-m.svg) no-repeat;
                                @media (min-width: 992px) {
                                    background: url(icon/faq.svg) no-repeat;
                                }
                            }
                        }
                    }
                    &.blog {
                        .dropdown-item {
                            &::before {
                                background: url(icon/blog-m.svg) no-repeat;
                                @media (min-width: 992px) {
                                    background: url(icon/blog.svg) no-repeat;
                                }
                            }
                        }
                    }
                    &.contact {
                        .dropdown-item {
                            &::before {
                                background: url(icon/contact-m.svg) no-repeat;
                                @media (min-width: 992px) {
                                    background: url(icon/contact.svg) no-repeat;
                                }
                            }
                        }
                    }
                    &.havening {
                        .dropdown-item {
                            &::before {
                                background: url(icon/Havening-m.svg) no-repeat;
                                @media (min-width: 992px) {
                                    background: url(icon/Havening.svg) no-repeat;
                                }
                            }
                        }
                    }
                    &.location {
                        .dropdown-item {
                            &::before {
                                background: url(icon/location-m.svg) no-repeat;
                                @media (min-width: 992px) {
                                    background: url(icon/location.svg) no-repeat;
                                }
                            }
                        }
                    }
                    &.pp {
                        .dropdown-item {
                            &::before {
                                background: url(icon/pp-m.svg) no-repeat;
                                @media (min-width: 992px) {
                                    background: url(icon/pp.svg) no-repeat;
                                }
                            }
                        }
                    }
                    &.timeline {
                        .dropdown-item {
                            &::before {
                                background: url(icon/timeline-m.svg) no-repeat;
                                @media (min-width: 992px) {
                                    background: url(icon/timeline.svg) no-repeat;
                                }
                            }
                        }
                    }
                    &.hypnotherapys {
                        .dropdown-item {
                            &::before {
                                background: url(icon/brain-m.svg) no-repeat;
                                @media (min-width: 992px) {
                                    background: url(icon/brain.svg) no-repeat;
                                }
                            }
                        }
                    }
                    &.nlp {
                        .dropdown-item {
                            &::before {
                                background: url(icon/chat-m.svg) no-repeat;
                                @media (min-width: 992px) {
                                    background: url(icon/chat.svg) no-repeat;
                                }
                            }
                        }
                    }
                    &.therapist {
                        .dropdown-item {
                            &::before {
                                background: url(icon/group-m.svg) no-repeat;
                                @media (min-width: 992px) {
                                    background: url(icon/group.svg) no-repeat;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}