.site-header {
	background-color: transparent;
	position: relative;
    width: 100%;
	z-index: 10;
	transition: $transition__transform;
	@media (min-width: 992px) {
		position: fixed;
	}
	.navbar {
		&.is-active {
			padding-bottom: 0px;
		}
		transform: translateY(0%);
		transition: $transition__transform;
		padding-top: 20px;
		padding-bottom: 20px;
		background-color: #5483E0;
		@media (min-width: 768px) {
			padding-top: 1px;
			padding-bottom: 1px;
		}
		@media (min-width: 992px) {
			background-color: transparent;
		}
		.not-padding-mobile {
			padding: 0px;
			.site-branding {
				padding-left: 20px;
				a {
					img {
						width: 165px;
						@media (min-width: 576px) {
							width: 250px;
						}
						
					}
				}
			}
			// Burger
			.navbar-toggler {
				// display: block;
				border-radius: 5px;
				background-color: transparent;
				float: right;
				height: 38px;
				width: 38px;
				cursor: pointer;
				padding: 7px;
				border: none;
				color: transparent;
				outline: none;
				margin-right: 13px;
				&.open span:first-child {
					transform: rotate(45deg) translate(4.4px, 4.4px);
				}
				&.open span:nth-child(2) {
					width: 0%;
					opacity: 0;
				}
				&.open span:last-child {
					transform: rotate(-45deg) translate(4.4px, -4.4px);
				}
				span {
					position: relative;
					display: block;
					height: 2px;
					width: 100%;
					margin-top: 4px;
					background-color: #FEFEFE;
					transition: all .25s;
				}
			}
			// navbarNavDropdown inside navigatopm-submenu.scss
		}

	}
}
.header--row {
	.header--text__holder {
		display: flex;
		align-items: center;
	}
	.header--right__img {
		min-width: 380px;
	}
}