body {
	background: $color__background-body; // Fallback for when there is no custom background color defined.
	&.remove_top_menu {
		#masthead {
			@media (min-width: 992px) {
				transform: translateY(-100%);
			}
		}
		.site-header {
			.navbar {
				@media (min-width: 992px) {
					transform: translateY(-100%);
				}
			}
		}
	}
}
.dropdown-item:hover, .dropdown-item:focus {
	background-color: transparent;
}