#page {
	overflow-x: hidden;
}
.container {
	padding: 0 20px;
	@media (min-width: 1200px) {
		padding: 0;
	}
}
.position-relative {
	position: relative;
}

table {
	background-color: #FEFEFE;
    display: flex;
    width: fit-content;
	margin: auto;
	border-collapse: collapse;
	border-radius: 20px;
	overflow: hidden;
	tbody {
		tr {
			&:first-child {
				background-color: #5584E0;
				color: #FEFEFE;
			}
			th {
				padding: 10px 10px 10px 10px;
				@media (min-width: 576px) {
					padding: 10px 50px 10px 40px;
				}
				border: 1px solid #384C71;
			}
			td {
				padding: 10px 10px 10px 10px;
				@media (min-width: 576px) {
					padding: 10px 50px 10px 40px;
				}
				border: 1px solid #384C71;
			}
		}

	}
}

.table {
    display: flex;
	margin: auto;
	border-radius: 20px;
	overflow: hidden;
	margin-top: 80px;
	margin-bottom: 80px;
	overflow: hidden;
    max-width: 1000px;
	.table-holder {
		width: 100%;
		display: flex;
		flex-direction: column;
		@media (min-width: 992px) {
			flex-direction: row;
		}
		.table-row	{
			width: 100%;
			@media (min-width: 992px) {
				width: 50%;
			}
			&.tl {
				background-color: #FEFEFE;
				margin-bottom: 50px;
				border-bottom-right-radius: 20px;
				border-bottom-left-radius: 20px;
				@media (min-width: 992px) {
					margin-bottom: 0px;
					border-bottom-right-radius: 0;
					border-bottom-left-radius: 0;
				}
				.td {
					border-bottom: 1px solid #384C71;
					@media (min-width: 992px) {
						border-right: 1px solid #384C71;
					}
				}
			}
			&.tr {
				background-color: #FEFEFE;
				border-top-right-radius: 20px;
				border-top-left-radius: 20px;
				overflow: hidden;
				@media (min-width: 992px) {
					border-top-right-radius: 0;
					border-top-left-radius: 0;
				}
				.td {
					border-bottom: 1px solid #384C71;
				}
			}
			.td {
				margin-bottom: 0;
				padding: 10px 10px 10px 10px;
				&:first-child {
					background-color: #5584E0;
					color: #FEFEFE;
				}
				&:last-child {
					border-bottom: 0px;
				}
				@media (min-width: 576px) {
					padding: 10px 50px 10px 40px;
				}
			}

		}
	}
}

.table>:not(caption)>*>* {
	padding: 0;
}

.c-stop-smoking {
	box-shadow: 0 0 4px rgba(#000, .14);
	margin-bottom: 10px;
	border-radius: 20px;
    max-width: 810px;
    margin: auto;
	&__title {
		padding: 10px;
		border-top-right-radius: 20px;
		border-top-left-radius: 20px;
		background: #9bb6e3;
		color: #FEFEFE;
		text-align: center;
	}

	&__heading {
		color: #fff;
		font-weight: normal;

		font-size: 24px;

		@media (min-width: 768px) {
			font-size: 27px;
		}
	}

	&__header {
		padding: 10px;
		background: #608ad2;
		color: #fff;
		text-transform: uppercase;
		font-size: 18px;
		.o-layout {
			display: flex;
			justify-content: space-between;
			font-size: 22px;
		}
		@media (min-width: 768px) {
			font-size: 22px;
		}
	}

	&__body {
		padding: 10px;
	}

	&__row {
		padding: 10px;
		margin-bottom: 10px;
		box-shadow: 0 0 4px rgba(#000, .14);

		&:nth-child(even) {
			background: #f1f5fb;
		}

		&__title {
			text-transform: uppercase;
			text-align: center;
			color: #608bd2;
			vertical-align: middle;
			font-size: 14px;
			@media (min-width: 768px) {
				width: 33.33333%;
				display: inline-block;
				position: relative;
				right: auto;
				left: 33.33333%;
				font-size: 16px;
			}
		}

		&__item {
			width: 50%;
			display: inline-block;
			vertical-align: middle;
			font-size: 23px;
			&:nth-child(odd) {
				text-align: right;
			}
			@media (min-width: 768px) {
				width: 33.33333%;
				font-size: 33px;
				&:nth-child(even) {
					position: relative;
					left: auto;
					right: 33.33333%;
				}
			}
		}
	}
}