.fmm__section {
    &--second {
        background-color: #F3F8FB;
        padding-top: 70px;
        padding-bottom: 70px;
        .review--holder-top {
            width: 100%;
            display: flex;
            align-items: center;
            margin: auto;
            justify-content: space-between;
            margin-bottom: 30px;
            @media (min-width: 576px) {
                
            }
            @media (min-width: 992px) {
                display: initial;
                width: fit-content;
            }
            img {
                max-width: 75px;
                height: auto;
                display: flex;
                @media (min-width: 576px) {
                    max-width: 125px;
                    // margin: auto;
                }
                @media (min-width: 992px) {
                    margin: auto;
                }
            }
            .review--score {
                display: flex;
                @media (min-width: 992px) {
                    justify-content: center;
                }
                p {
                    margin-bottom: 0px;
                    
                    font-size: 18px;
                    @media (min-width: 576px) {
                        font-size: 26px;
                    }
                    line-height: 2;
                    // color: #77756a;
                }
                .reviews-stars {
                    display: flex;
                    align-items: center;
                    color: #F7BA11;
                    font-size: 19px;
                    @media (min-width: 576px) {
                        font-size: 25px;
                    }
                }
            }
            p {
                text-align: center;
                margin-bottom: 0;
                // font-size: 26px;
            }
        }
        .mySwiper {
            // display: contents;
            .swiper-wrapper {
                padding-bottom: 70px;
                .swiper-slide {
                    height: auto;
                    .text-holder {
                        padding: 20px;
                        background-color: $theme__white;
                        border-radius: 20px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        height: 100%;
                        P {

                        }
                        .review {
                            h5 {
                                font-weight: 700;   
                                font-size: 21px;
                            }
                            .date {
                                color: #9E9E9E;
                                margin-bottom: 0;
                                font-size: 15px;
                            }
                            .reviews__stars {
                                color: #F5BB11;
                                font-size: 26px;
                            }
                        }
                    }
                }
            }
        }
    }
    &--third {
        &.testimonial {
            margin-bottom: 70px;    
        }
        .container--content {
            max-width: 1070px;
            h1,h2 {
                text-align: center;
                font-weight: 600;
                margin-bottom: 40px;
                margin-top: 40px;
                @media (min-width: 576px) {
                    margin-bottom: 90px;
                }
                br {
                    display: none;
                    @media (min-width: 576px) {
                        display: initial;
                    }
                }
                &::after {
                    content: '';
                    position: absolute;
                    transform: translateX(-50%);
                    left: 50%;
                    bottom: -20px;
                    width: 67px;
                    height: 3px;
                    background-color: $text_dark_blue;
                    @media (min-width: 576px) {
                        width: 180px;
                        height: 4px;
                        bottom: -40px;
                    }
                }
            }
            p {
                br {
                    display: none;
                    @media (min-width: 576px) {
                        display: initial;
                    }
                }

            }
            .content--footer {
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                margin-bottom: 20px;
                @media (min-width: 375px) {
                    flex-direction: row;
                }
                @media (min-width: 576px) {
                    margin-bottom: 0px;
                }
                .signature {
                    order: 2;
                    margin: auto;
                    @media (min-width: 375px) {
                        order: 1;
                        margin: initial;
                    }
                    svg {
                        fill: #394b70;
                        max-width: 160px;
                        margin-bottom: 10px;
                        margin-left: 10px;
                    }
                    .blue--box {
                        background-color: #5584E0;
                        padding: 7px 11px;
                        border-radius: 10px;
                        color: #FFF;
                        @media (min-width: 576px) {
                            padding: 10px 20px;
                        }
                        p {
                            margin: 0;
                            font-size: 16px;
                            color: #FFF;
                            @media (min-width: 576px) {
                                font-size: 17px;
                            }
                        }
                    }
                }
                .image {
                    order: 1;    
                    align-self: center;
                    margin-bottom: 20px;
                    @media (min-width: 375px) {
                        order: 2;
                    }
                    @media (min-width: 576px) {
                        position: relative;
                        bottom: 40px;
                    }
                    img {
                        max-width: 110px;
                        @media (min-width: 576px) {
                            max-width: 190px;
                        }
                    }
                }
            }
        }

    }
    &--fifth {
        &.treatments {
            background-color: #F3F8FB;
        }
        &.location {
            background-color: #FEFEFE;
        }
        background-color: #E2EFFF;
        padding: 35px 0;
        @media (min-width: 576px) {
            padding: 70px 0;
        }
        .container--content {
            max-width: 1070px;
            h1,h2 {
                text-align: center;
                font-weight: 600;
                margin-bottom: 40px;
                @media (min-width: 576px) {
                    margin-bottom: 90px;
                }
                br {
                    display: none;
                    @media (min-width: 576px) {
                        display: initial;
                    }
                }
                &::after {
                    content: '';
                    position: absolute;
                    transform: translateX(-50%);
                    left: 50%;
                    bottom: -20px;
                    width: 67px;
                    height: 3px;
                    background-color: $text_dark_blue;
                    @media (min-width: 576px) {
                        width: 180px;
                        height: 4px;
                        bottom: -40px;
                    }
                }
            }
        }
    }
    &--sixth {
        background-color: #FFFFFF;
        padding-bottom: 46px;
        padding-top: 46px;
        ul {
            list-style-type: none;
            margin-left: 0px;
            margin-bottom: 0px;
            padding-left: 0px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            li {
                width: 50%;
                @media (min-width: 576px) {
                    width: 20%;
                }
                padding: 30px 20px;
                text-align: center;
                min-width: 130px;
                @media (min-width: 576px) {
                    padding: 50px 20px;
                    min-width: 160px;
                }
                @media (min-width: 768px) {
                    min-width: 260px;
                }
                img {
                    max-height: 30px;
                    width: auto;
                }
            }
        }
    }
    &--seventh {
        background-color: #E2EFFF;
        padding-top: 45px;
        @media (min-width: 992px) {
            padding-top: 85px;
        }
        .listen__here--holder {
            .img--holder {
                display: flex;
                object-fit: cover;
                height: fit-content;
                align-self: flex-end;
                img {
                    @media (min-width:400px) and (max-width:576px) {
                        width: 50%;
                        margin: auto;
                    }
                }
            }
            .text--holder {
                position: relative;
                max-width: 600px;
                height: 100%;
                margin-left: 5px;
                @media (min-width: 992px) {
                    margin-left: 30px;
                }
                h3 {
                    @include fluid-type(420px, 1440px, 24px, 47px);
                    font-weight: 700;
                }
                p {
                    margin-bottom: 5px;
                    @include fluid-type(420px, 1440px, 20px, 20px);
                    @media (min-width: 576px) {
                        margin-bottom: 24px;
                    }
                }
                .btn {
                    margin-bottom: 20px;
                    padding: 12px 6px;
                    opacity: 1;
                    max-height: 57px;
                    display: inline-block;
                    &.is-active {
                        opacity: 0;
                        max-height: 0;
                        padding: 0;
                    }
                    @media (min-width: 576px) {
                        padding: 15px 25px;
                    }
                    @media (min-width: 992px) {
                        margin-bottom: 0;
                    }
                    &:hover {
                        background-color: $btn__primary_hover;
                    }
                }
                .icon {
                    position: absolute;
                    right: 0;
                    bottom: 20px;
                    &.is-active {
                        bottom: 100px;
                        @media (min-width: 768px) {
                            bottom: 50px;
                        }
                    }
                    @media (min-width: 768px) {
                        bottom: 50px;
                    }
                    img {
                        max-width: 50px;
                        @media (min-width: 768px) {
                            max-width: 140px;
                        }
                    }
                }
                #play-bar {
                    display: flex;
                    opacity: 0;
                    max-height: 0;
                    margin-bottom: 0px;
                    width: 100%;
                    @media (min-width: 768px) {
                        width: 300px;
                    }
                    &.is-active {
                        opacity: 1;
                        max-height: 55px;
                        margin-bottom: 25px;
                    }
                }
            }
        }
    }
    &--eighth {
        background-color: #F3F8FB;
        padding-top: 60px;
        padding-bottom: 60px;
        h1,h2 {
            text-align: center;
            font-weight: 600;
            margin-bottom: 40px;
            @media (min-width: 576px) {
                margin-bottom: 90px;
            }
            br {
                display: none;
                @media (min-width: 576px) {
                    display: initial;
                }
            }
            &::after {
                content: '';
                position: absolute;
                transform: translateX(-50%);
                left: 50%;
                bottom: -20px;
                width: 67px;
                height: 3px;
                background-color: $text_dark_blue;
                @media (min-width: 576px) {
                    width: 180px;
                    height: 4px;
                    bottom: -40px;
                }
            }
        }
        .container--content {
            max-width: 1000px;
            margin: auto;
        }

        .home--card {
            &.treatments {
                .card-header {
                    h5 {
                        color: $theme__white;
                        margin-top: 7px;
                    }
                }
            }
            
            margin-top: 40px;
            padding-left: 20px;
            padding-right: 20px;
            .home--card--holder {
                background-color: #FFF;
                height: 100%;
                display: flex;
                flex-direction: column;
                border-bottom-left-radius: 20px;
                border-bottom-right-radius: 20px;
                .card-header {
                    background-color: #5584E0;
                    text-align: center;
                    padding: 25px 0;
                    border-top-right-radius: 20px;
                    border-top-left-radius: 20px;
                    .image--holder {
                        display: flex;
                        margin: auto;
                        border-radius: 50%;
                        background-color: $theme__white;
                        width: 80px;
                        height: 80px;
                        img {
                            margin: auto;
                            width: 50px;
                            height: 50px;
                        }
                    }
                    h4 {
                        color: $theme__white;
                    }
                }
                .text-holder {
                    background-color: #FFF;
                    padding: 30px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 100%;
                    border-bottom-left-radius: 20px;
                    border-bottom-right-radius: 20px;
                    .text-holder-wrapper {
                        &.philosophy {
                            p {
                                display: block;
                                @media (min-width: 576px) {
                                    display: block;
                                }
                            }
                        }
                        p {
                            display: none;
                            @media (min-width: 576px) {
                                display: block;
                            }
                        }
                    }
                    .btn {
                        display: flex;
                        width: fit-content !important;
                        margin: auto;
                        margin-bottom: 0;
                        &:hover {
                            background-color: $btn__primary_hover;
                        }
                    }
              
                }
            }

        }
        .container--content-footer {
            max-width: 1000px;
            margin: auto; 
            margin-top: 60px;
            .btn {
                display: flex;
                margin: auto;
                width: fit-content;
                &:hover {
                    background-color: $btn__primary_hover;
                }
            }
        }

    }
    &--ninth {
        background-color: $theme__white;
        margin-top: 80px;
        margin-bottom: 80px;
        .container--content {
            max-width: 1070px;
            h1,h2 {
                text-align: center;
                font-weight: 600;
                margin-bottom: 40px;
                @media (min-width: 576px) {
                    margin-bottom: 90px;
                }
                br {
                    display: none;
                    @media (min-width: 576px) {
                        display: initial;
                    }
                }
                &::after {
                    content: '';
                    position: absolute;
                    transform: translateX(-50%);
                    left: 50%;
                    bottom: -20px;
                    width: 67px;
                    height: 3px;
                    background-color: $text_dark_blue;
                    @media (min-width: 576px) {
                        width: 180px;
                        height: 4px;
                        bottom: -40px;
                    }
                }
            }
            .home--card {
                padding-left: 20px;
                padding-right: 20px;
                margin-bottom: 30px;
                .header-img-title {
                    display: flex;
                    align-items: center;
                    margin-bottom: 20px;
                    h5 {
                        margin-bottom: 0;
                        color: #5584E0;
                        font-size: 22px;
                    }
                    .img {
                        padding: 10px;
                        width: 60px;
                        height: 60px;
                        background-color: #5584E0;
                        border-radius: 50%;
                        margin-right: 20px;
                        display: flex;
                        img {
                            max-width: 30px;
                            display: flex;
                            margin: auto;
                        }
                    }
                }
            }
            
        }
    }
    &--twelfth {
        position: relative;
        background: rgba(#ABC7D2, 0.7);
        .testimonial-bg {
            background-image: url(images/pattern.png);
            background-size: cover;
            bottom: 0;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            z-index: -1;
        }
        .cont-testimonial {
            padding-top: 35px;
            padding-bottom: 100px;
            @media (min-width: 576px) {
                padding-top: 65px;
                padding-bottom: 140px;
            }
            h3 {
                text-align: center;
                font-weight: 600;
                margin-bottom: 60px;
                @media (min-width: 576px) {
                    margin-bottom: 90px;
                }
                br {
                    display: none;
                    @media (min-width: 576px) {
                        display: initial;
                    }
                }
                &::after {
                    content: '';
                    position: absolute;
                    transform: translateX(-50%);
                    left: 50%;
                    bottom: -20px;
                    width: 67px;
                    height: 3px;
                    background-color: $text_dark_blue;
                    @media (min-width: 576px) {
                        width: 180px;
                        height: 4px;
                        bottom: -40px;
                    }
                }
            }
            .testimonial--holder {
                text-align: center;
                max-width: 1000px;
                margin: auto;
                background-color: $theme__white;
                position: relative;
                padding: 50px 20px 50px 20px;
                border-radius: 20px;
                font-style: italic;
                @media (min-width: 576px) {
                    padding: 50px;
                }
                &:after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    width: 0;
                    height: 0;
                    border: 60px solid transparent;
                    border-top-color: $theme__white;
                    border-bottom: 0;
                    margin-left: -60px;
                    margin-bottom: -60px;
                }
                .quote {
                    position: absolute;
                    width: 70px;
                    height: 42px;
                    background-image: url(icon/quote.svg);
                    background-size: cover;
                    z-index: 10;
                    &-up {
                        @extend .quote;
                        left: 20px;
                        top: -21px;
                        @media (min-width: 576px) {
                            left: 50px;
                        }
                    }
                    &-down {
                        @extend .quote;
                        right: 20px;
                        bottom: -21px;
                        transform: rotate(180deg);
                        @media (min-width: 576px) {
                            right: 50px;
                        }
                    }
                }
                .testimonial--footer {
                    margin: auto;
                    width: fit-content;
                    text-align: center;
                    font-style: normal;
                    h6 {
                        font-weight: 700;
                    }
                    p {
                        margin-bottom: 0;
                        font-size: 16px;
                    }
                    .c--reviews__stars {
                        color: #F4BC0D;
                        font-size: 30px;
                        line-height: 1;
                    }
                }
    
            }
        }
    }
    &--thirteenth {
        background-color: $theme__white;
        padding-top: 40px;
        padding-bottom: 40px;
        @media (min-width: 576px) {
            padding-top: 90px;
            padding-bottom: 70px;
        }
        .container--content {
            max-width: 1070px;
            h1,h2 {
                text-align: center;
                font-weight: 600;
                margin-bottom: 40px;
                @media (min-width: 576px) {
                    margin-bottom: 90px;
                }
                br {
                    display: none;
                    @media (min-width: 576px) {
                        display: initial;
                    }
                }
                &::after {
                    content: '';
                    position: absolute;
                    transform: translateX(-50%);
                    left: 50%;
                    bottom: -20px;
                    width: 67px;
                    height: 3px;
                    background-color: $text_dark_blue;
                    @media (min-width: 576px) {
                        width: 180px;
                        height: 4px;
                        bottom: -40px;
                    }
                }
            }
        }
    }
    &--contact {
        background: linear-gradient(150deg,#5483e0,#5483e0 35%,#394b70);
        color: #fff;
        padding: 75px 0;
        h2 {
            color: #fff;
            text-align: center;
            font-weight: 800;
            em {
                background-image: url(images/underline.svg);
                background-position: bottom;
                background-repeat: no-repeat;
                background-size: 100% auto;
                font-style: normal;
                padding: 0 5px 3px;
            }
        }
        .p__under {
            @include fluid-type(420px, 1440px, 16px, 33px);
            text-align: center;
            margin-bottom: 30px;
            color: #fff;
        }
        .img--holder {
            display: flex;
            margin-bottom: 50px;
            @media (min-width: 1200px) {
                margin-bottom: 0px;
            }
            img {
                max-width: 100px;
                display: flex;
                height: fit-content;
                align-self: center;
                @media (min-width: 335px) {
                    max-width: 150px;
                }
                @media (min-width: 768px) {
                    max-width: initial;
                }
            }
            .features {
                display: flex;
                align-self: center;
                ul {
                    padding-right: 0px;
                    margin-bottom: 0px;
                    margin-left: 0px;
                    padding-left: 0px;
                    list-style-type: none;
                    @media (min-width: 576px) {
                        padding-right: 24px;
                    }
                    li {
                        margin-bottom: 16px;
                        width: 100%;
                        display: flex;
                        @media (min-width: 576px) {
                            margin-bottom: 36px; 
                        }
                        &:last-child {
                            margin-bottom: 0;
                        }
                        img {
                            margin-right: 8px;
                            width: 30px;
                            align-self: center;
                            @media (min-width: 420px) {
                                width: 52px;
                            }
                        }
                        p {
                            display: table-cell;
                            vertical-align: middle;
                            margin-bottom: 0;
                            color: #FFF;
                            @include fluid-type(420px, 1440px, 17px, 33px);
                        }
                    }
                }
            }
        }
        .form--holder {
            display: flex;
            height: fit-content;
            align-self: center;
            justify-content: center;
            .wpcf7 {
                background-color: #fff;
                border: 1px solid #7d7c7d;
                border-radius: 15px;
                color: #7d7c7d;
                padding: 22px;
                max-width: 375px;
                br {
                    display: none;
                }
                p {
                    margin-bottom: 0;
                }
                .wpcf7-form-control-wrap {
                    margin-bottom: 12px;
                    display: block;
                    width: 100%;
                    line-height: 1.1;
                    input {
                        width: 100%;
                        font-size: 22px;
                        padding: 5px 10px;
                    }
                    textarea {
                        font-size: 22px;
                        padding: 5px 10px;
                    }
                    &:last-of-type {
                        margin-bottom: 0;
                    }
                    .wpcf7-list-item {
                        width: 100%;
                        margin-left: 0px;
                        label {
                            display: flex;
                            input {
                                max-width: 16px;
                                margin-right: 5px;
                            }
                            .wpcf7-list-item-label {
                                font-size: 15px;
                                color: #7D7C7D;
                            }
                        }
                    }
                }
                .c-btn--positive {
                    border-radius: 15px;
                    display: block;
                    font-size: 22px;
                    font-weight: 400;
                    line-height: 1.1;
                    padding: 20px 10px;
                    text-transform: none;
                    width: 100%;
                    color: $theme__white !important;
                    background-color: #66CB47;
                    transition: $transition__all;
                    &:hover {
                        background-color: $btn__primary_hover;
                    }
                }
                .wpcf7-spinner {
                    display: none;
                }
            }
        }
    }
}